{% extends 'base.html.twig'%}

{% block body%}

<div id="container">

    <div class="addvideo-haut">
        <h1>Poster votre vidéo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus nisi et neque iaculis blandit. Nam rhoncus rutrum ligula, ut rutrum neque dapibus a. Cras ac diam eget enim euismod dictum sed at nulla. Sed blandit ut lacus vitae egestas. Pellentesque ultricies rutrum justo non aliquet. Cras sapien enim, tempus in justo eget, euismod rutrum justo. Curabitur lobortis, quam quis malesuada ornare, enim libero dictum velit, eu auctor massa neque id erat. Suspendisse lobortis leo a tellus blandit facilisis. Ut tristique varius eros, sollicitudin pretium urna mollis a. Sed et purus condimentum, mollis enim ut, dictum lacus. </p>
    </div>

    <div class="container-addvideo">
        <div class="addvideo-form">
            <form action="{{ path('validation') }}" method="post" name="formulaire_addvideo">
                <div>
                    <span>Votre pseudo</span>
                    <input type="text" name="pseudo"/>
                </div>
                <div>
                    <span>Titre de la vidéo</span>
                    <input type="text" name="titre"/>
                </div>
                <div>
                    <span>Lien de la vidéo</span>
                    <input type="text" name="link"/>
                </div>
                <div>
                    <span>Description de la vidéo</span>
                    <textarea name="description"></textarea>
                </div>
                <div class="addvideo-cgu">
                    <input type="checkbox" name="cgu"><span class="spancgu">Je comfirme avec pris concience des CGU</span>
                </div>
                <div>
                    captcha
                </div>
                <div>
                    <input class="button1" name="validation" type="submit"/>
                </div>
            </form>
        </div>
        <div class="addvideo-tuto">
            <div>
                <span>Comment poster une vidéo ?<span>
                <p>Apprener à upload une vidéo grace à ce tutoriel</p>
                <a href="/tuto" class="button1" >Tutoriel</a>
            </div>
        </div>
    
    </div>


</div>

{% endblock %}