{% extends 'base.html.twig'%}

{% block meta %}
    <title>Studio 360 Video - Ajouter une vidéo</title>
    <meta name="description" content="Studio 360 Video - Ajouter une vidéo 360° directement sur notre site internet." />
    <meta name="author" content="Louis Réjou" />
    <meta name="keywords" content="video, 360, realité virtuelle, youtube, note, description, louis réjou, HD, vr, partage">

    <meta property="og:title" content="Studio 360 Video - Ajouter une vidéo" />
    <meta property="og:description" content="Studio 360 Video - Ajouter une vidéo 360° directement sur notre site internet." />

    <meta name="twitter:title" content="Studio 360 Video - Ajouter une vidéo">
    <meta name="twitter:description" content="Studio 360 Video - Ajouter une vidéo 360° directement sur notre site internet.">
{% endblock %}

{% block stylesheets %}  
    <link href="{{ asset('css/addvideo.css') }}" rel="stylesheet" />
{% endblock %}


{% block body%}

<div id="container">

    <div class="addvideo-haut">
        <h1>Postez votre vidéo</h1>
        <p>
            Postez votre video 360° sur notre site par le biais de son lien YouTube
            <br>
            Votre vidéo devra être validée par un administrateur avant que vous ne puissiez la voir apparaître sur notre site
        </p>
        </div>

    <div class="container-addvideo">
        <div class="addvideo-form">
            <form action="{{ path('validation') }}" method="post" name="formulaire_addvideo">
                <div>
                    <span>Votre pseudo</span>
                    <input type="text" name="pseudo" required="required"/>
                </div>
                <div>
                    <span>Titre de la vidéo</span>
                    <input type="text" name="titre" required="required"/>
                </div>
                <div>
                    <span>Lien de la vidéo (Youtube)</span>
                    <input type="text" name="link" required="required"/>
                </div>
                <div>
                    <span>Description de la vidéo</span>
                    <textarea name="description" required="required"></textarea>
                </div>
                <div class="addvideo-cgu">
                    <input type="checkbox" name="cgu"><span class="spancgu">J'accepte les <a href="/cgu" >Conditions Générales d'Utilisation</a></span>
                </div>
                <div>
                    <!-- Ajouter un recaptcha V2 ou V3 ICI  -->
                    captcha
                </div>
                <div>
                    <input class="button1" name="validation" type="submit" value="Poster"/>
                </div>
            </form>
        </div>
        <div class="addvideo-tuto">
            <div>
                <span>Comment faire une vidéo 360° ?<span>
                <p>Apprenez à faire une vidéo 360° </p>
                <a href="/tuto" class="button1" >Tutoriel</a>
            </div>
        </div>
    
    </div>


</div>

{% endblock %}