{% extends 'base.html.twig'%}

{% block meta %}
    <title>Studio 360 Video - Annuaire des vidéos</title>
    <meta name="description" content="Studio 360 Video - Annuaire de toutes les vidéos 360° et réalité virtuelle" />
    <meta name="author" content="Louis Réjou" />
    <meta name="keywords" content="video, 360, realité virtuelle, youtube, note, description, louis réjou, HD, vr, partage">

    <meta property="og:title" content="Studio 360 Video - Annuaire des vidéos" />
    <meta property="og:description" content="Studio 360 Video - Annuaire de toutes les vidéos 360° et réalité virtuelle" />

    <meta name="twitter:title" content="Studio 360 Video - Annuaire des vidéos">
    <meta name="twitter:description" content="Studio 360 Video - Annuaire de toutes les vidéos 360° et réalité virtuelle">
{% endblock %}

{% block stylesheets %}  
    <link href="{{ asset('css/annuaire.css') }}" rel="stylesheet" />
{% endblock %}

{% block body%}

<div id="container">

    <div class="annuaire-haut">
        <div class="title-annuaire">
            <h1>Toutes nos vidéos</h1>
            <a class="button1" href="/tuto">Comment faire une vidéo 360° ?</a>
        </div>
        <div class="filtre-annuaire">
            <input id="filtreDate" type="radio" name="filtre" checked>
            <input id="filtreNote" type="radio" name="filtre" >
            <span>Ajouter un filtre</span>
            <div>
                <label id="checkboxDate" class="checkbox" for="filtreDate"><i class="fas fa-check"></i></label>Trier par date
            </div>
            <div>
                <label id="checkboxNote" class="checkbox" for="filtreNote"><i class="fas fa-check"></i></label>Trier par note
            </div>
        </div>
    </div>

    <div class="container-video">
    </div>

    <button id="buttonLoadVideo" class="button1">Voir plus</button>

</div>


{% endblock %}