{% extends 'base.html.twig'%}

{% block body%}

<div id="container">

    <div class="annuaire-haut">
        <div class="title-annuaire">
            <h1>Toutes nos vidéos</h1>
            <a class="button1">Comment poster une vidéo ?</a>
        </div>
        <div class="filtre-annuaire">
            <input id="filtreDate" type="radio" name="filtre" >
            <input id="filtreNote" type="radio" name="filtre" checked>
            <span>Ajouter un filtre</span>
            <div>
                <label id="checkboxDate" class="checkbox" for="filtreDate"><i class="fas fa-check"></i></label>Trier par date
            </div>
            <div>
                <label id="checkboxNote" class="checkbox" for="filtreNote"><i class="fas fa-check"></i></label>Trier par note
            </div>
        </div>
    </div>

    <div class="container-video">
        {% for video in videos  %}
            <a href="#">
                <img src="https://img.youtube.com/vi/{{ video.link }}/0.jpg" alt="{{ video.name }}"/>
                <span class="annuaire-dateVideo" >{{video.date ? video.date|date('d/m/Y H:i:s') : '' }}</span>
                <span class="annuaire-titreVideo">{{ video.name }}</span>
            </a>
        {% endfor %}
    </div>

</div>


{% endblock %}