{% extends 'base.html.twig'%}

{% block body%}

<div id="container">
    <div class="annuaire-haut">
        <div class="title-annuaire">
            <h1>Toutes nos vidéos</h1>
            <a class="button1">Comment poster une vidéo ?</a>
        </div>
        <div class="filtre-annuaire">
            <input id="filtreDate" type="radio" name="filtre" >
            <input id="filtreNote" type="radio" name="filtre" checked>
            <span>Ajouter un filtre</span>
            <div>
                <label id="checkboxDate" class="checkbox" for="filtreDate"><i class="fas fa-check"></i></label>Trier par date
            </div>
            <div>
                <label id="checkboxNote" class="checkbox" for="filtreNote"><i class="fas fa-check"></i></label>Trier par note
            </div>
        </div>
    </div>


    <div class="container-video">

        <a href="#">
            <img src="https://img.youtube.com/vi/tgwW2RnqYcY/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-xNN-bJQ4vI/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Mega Coaster: Get Ready for the Drop (360 Video)</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-_nhjmLeGYw/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Dunkerque - 360° Vidéo Expérience - Gardez Votre Souffle</span>
        </a>

                <a href="#">
            <img src="https://img.youtube.com/vi/tgwW2RnqYcY/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-xNN-bJQ4vI/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Mega Coaster: Get Ready for the Drop (360 Video)</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-_nhjmLeGYw/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Dunkerque - 360° Vidéo Expérience - Gardez Votre Souffle</span>
        </a>

                <a href="#">
            <img src="https://img.youtube.com/vi/tgwW2RnqYcY/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-xNN-bJQ4vI/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Mega Coaster: Get Ready for the Drop (360 Video)</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-_nhjmLeGYw/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Dunkerque - 360° Vidéo Expérience - Gardez Votre Souffle</span>
        </a>

                <a href="#">
            <img src="https://img.youtube.com/vi/tgwW2RnqYcY/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-xNN-bJQ4vI/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Mega Coaster: Get Ready for the Drop (360 Video)</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-_nhjmLeGYw/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Dunkerque - 360° Vidéo Expérience - Gardez Votre Souffle</span>
        </a>

                <a href="#">
            <img src="https://img.youtube.com/vi/tgwW2RnqYcY/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-xNN-bJQ4vI/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Mega Coaster: Get Ready for the Drop (360 Video)</span>
        </a>

        <a href="#">
            <img src="https://img.youtube.com/vi/-_nhjmLeGYw/0.jpg" alt="image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception"/>
            <span class="annuaire-dateVideo" > Il y a 10 semaines</span>
            <span class="annuaire-titreVideo">Dunkerque - 360° Vidéo Expérience - Gardez Votre Souffle</span>
        </a>


    </div>

</div>


{% endblock %}