{% extends 'base.html.twig'%}

{% block body%}

<h1>Page d'accueil</h1>

<div id="container">

    <div class="slider">
        <div>
        </div>
        <div>
        </div>
    </div>




</div>

{% endblock %}