{% extends 'base.html.twig'%}


{% block stylesheets %}  
    <link href="{{ asset('css/tuto.css') }}" rel="stylesheet" />
{% endblock %}

{% block body%}

<div id="container">
    <div class="tuto-haut">
        <h1>Comment poster une vidéo ?</h1>
    </div>

    <div class="tuto-flexcontainer">
        <div>
            <img src="https://i.ytimg.com/vi/klVWGHtRTuE/maxresdefault.jpg" alt="image youtube"/>
        </div>
        <div class="texteright">
            <h2>Titre de cette partie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis metus vel ex ultricies, at luctus orci maximus. Morbi sed nisl eget nisl interdum consequat. </p>
        </div>
    </div>


    <div class="tuto-flexcontainer">
        <div class="texteleft">
            <h2>Titre de cette partie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis metus vel ex ultricies, at luctus orci maximus. Morbi sed nisl eget nisl interdum consequat.</p>
        </div>
        <div>
            <img src="https://i.ytimg.com/vi/klVWGHtRTuE/maxresdefault.jpg" alt="image youtube"/>
        </div>
    </div>


    <div class="tuto-flexcontainer">
        <div>
            <img src="https://i.ytimg.com/vi/klVWGHtRTuE/maxresdefault.jpg" alt="image youtube"/>
        </div>
        <div class="texteright">
            <h2>Titre de cette partie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis metus vel ex ultricies, at luctus orci maximus. Morbi sed nisl eget nisl interdum consequat. </p>
        </div>
    </div>

    <div class="tuto-posteVideo">
        <h3>Vous aussi postez une vidéo</h3>
        <a class="button1" href="/addvideo">Postez une vidéo</a>
    </div>


</div>

{% endblock %}