{% extends 'base.html.twig'%}

{% block stylesheets %}  
    <link href="{{ asset('css/validation.css') }}" rel="stylesheet" />
{% endblock %}

{% block body%}

<div class="container">
<div class="validationContainer">
{% if message == "accept" %}
   <span class="acceptMSG">Votre demande a bien été prise en compte ! </span><br>
   <span>Votre vidéo est en cours de validation. Elle devrait apparaître sur notre site dans les prochains jours si l'administrateur en charge confirme son éligibilité.</span>
       <div class="buttonContainer">
        <a href="/annuaire" class="button1"> Retour à la liste des vidéos </a>
    </div>
{% else %}
   <span class="errorMSG">Vous n'avez pas rempli tous les champs du formulaire.</span>
    <div class="buttonContainer">
        <a href="/addvideo" class="button1"> Retour </a>
    </div>


{% endif %}
</div>
</div>





{% endblock %}