.addvideo-haut{
    width: 80%;
    margin: 0 auto;
}
.addvideo-haut > p{
    font-size: 14px;
}

.container-addvideo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 50px auto;
}
.container-addvideo > div{
    width: 500px;
}
.addvideo-form > form > div > span{
    width: 300px;
    margin: 0 auto;
    text-align: left;
    display: block;
}
.addvideo-form > form > div > input[type=text] , textarea{
    width: 300px;
    font-size: 16px;
    border-radius: 3px;
    border: solid 1px grey;
}
.addvideo-form > form > div > span{
    padding-top: 15px;
}
.addvideo-cgu{
    font-size: 12px;
}
.addvideo-cgu .spancgu{
    display: inline-block;
}




.addvideo-tuto{
    margin: 20px 0;
}
.addvideo-tuto > div{
    height: auto;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 7px grey;
    padding: 30px 20px ;
}
.addvideo-tuto p {
    font-size: 12px;
    padding: 25px 0px;
}

@media screen and (max-width: 600px) {
    .container-addvideo > div{
        width: 90%;
    }
    .addvideo-tuto > div{
        padding: 30px 0px ;
    }
    .addvideo-form > form > div > input[type=text] , textarea{
        width: 100%;
    }
}

