header{
    width: 100%;
    height: 60px;
    background-color:#159CDC ;
}
header > div{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
header > div > h1{
    margin: 0;
    font-size: 30px;
    display: block;
    width: auto;
    height: 60px;
    line-height: 60px;
    color: white;
}
header > div > div{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 60px;
    line-height: 60px;
}
header > div > div > a{
    color: white;
}


.container > div{
    width: 1024px;
    margin: 50px auto;
}
.accueil-container{
    width: 100%;
    height: auto;
}
.accueil-container > div{
    height: auto;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px grey;
}
.accueil-container > div > span{
    font-size: 15px;
    display: block;
}



.video-container > .video-div-iframe{
    margin: 0 auto;
    width: 500px;
}
.video-container > .video-div-iframe > iframe{
    width: 500px;
    height: 350px;
}
.video-container > .video-div-button{
    text-align: center;
}

.admin-setting{
    text-align: center;
}
.admin-setting input[type=text]{
    text-align: center;
    border: solid 1px grey;
    border-radius: 3px;
}
.admin-setting span{
    display: block;
}
.admin-setting .error{
    color: red;
}

@media screen and (max-width: 1024px) {
    .container > div{
        width: 90%;
    }
    .video-container > .video-div-iframe{
        width: 100%;
    }
    .video-container > .video-div-iframe > iframe{
        width: 100%;
    }
    header > div > h1{
        display: none;
    }
    header > div > div{
        margin: 0 auto;
        width: 300px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 700px) {
    .video-container > .video-div-button > a{
        display: block;
        width: 250px;
        margin: 20px auto;
    }
}