header{
    height: 80px;
    width: 100%;
    background-color: white;
}
header > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    width: 80%;
    margin: 0 auto;
}
header > div > a{
    align-self: center;
}
header > div > div{
    align-self: center;
    justify-content: space-between;
    display: flex;
}
header > div > div > .header-link{
    display: block;
    text-decoration: none;
    margin: 0px 20px;
    color: #159CDC;
    transition: .3s;
}
header > div > div > .header-link:hover{
    color:#42382B;
    transition: .3s;
}
header > div > div > .header-addvideo{
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 20px;
    color: #159CDC;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px white;
    border-radius: 4px;
    transition: .3s;
}
header > div > div > .header-addvideo:hover{
    border: solid 1px #159CDC;
    transition: .3s;
}

@media screen and (max-width: 1300px) {
    header{
        height: 80px;
    }
    header > div{
        height: 80px;
        width: 100%;
    }
}
  @media screen and (max-width: 900px) {
    header{
        text-align: center;
        height: 160px;
    }
    header > div{
        height: 160px;
    }
    header > div > a{
        margin: 0 auto;
    }
    header > div > div{
        margin: 0 auto;
    }
}
@media screen and (max-width: 550px) {
    header > div > a{
        width: 100%;
    }
    header > div > a > img{
        width: 70%;
    }
    header > div > div{
        font-size: 12px;
    }
}