/*
Slider Home Page
*/
.slider{
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slider > .slideimg{
    width: 100%;
    height: 100%;
    position: absolute;
}
.slider > .slideimg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.silde-buttonright{
    height: 50px;
    width: 25px;
    line-height: 50px;
    color: white;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #159CDC;
}
.slide-buttonleft{
    height: 50px;
    width: 25px;
    line-height: 50px;
    color: white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #159CDC;
}

.slideimg > .slider_texte{
    text-align: left;
    position: absolute;
    right: 58%;
    top:50%;
    transform: translateY(-50%);
    z-index: 50;
    color: white;
    text-shadow: 0px 0px 4px grey;
}

.slider_titre1{
    display: block;
    font-size: 30px;
    margin: 20px 0px;
}
.slider_titre2{
    display: block;
    font-size: 18px;
    margin: 20px 0px;
}
.home-entete-tablette{
    display: none;
}
@keyframes AnimrightMain{
    0%{
        left : 0;
    }
    100%{
        left : -100%;
    }
}
@keyframes AnimrightNotMain{
    0%{
        left : 100%;
    }
    100%{
        left : 0;
    }
}

@keyframes AnimleftMain{
    0%{
        left : 0;
    }
    100%{
        left : 100%;
    }
}
@keyframes AnimleftNotMain{
    0%{
        left : -100%;
    }
    100%{
        left : 0;
    }
}
/*
    Home Page - Nos meilleurs vidéos
*/

.topVideo h2{
    color: #159CDC;
}

.topVideo > div{
    width: 80%;
    margin: 0 auto 30px auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.topVideo > div .topVideo_div{
    width: 200px;
    margin: 0 30px;
}
.topVideo > div .topVideo_div img{
    width: 200px;
}
.topVideo > div .topVideo_div span{
    font-size: 13px;
    display: block;
}


/*
    Home Page - Comment ça marche
*/
.tuto{
    background-color: #159CDC;
    color: white;
    padding: 40px 0px;
    margin: 100px 0px 0px 0px;
}
.tuto > p {
    width: 80%;
    margin: 30px auto;
}

.link-rs{
    height: 50px;
    width: 200px;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 2px grey;
    justify-content: space-evenly;
    margin: 0 auto;
}
.link-rs > a{
    text-decoration: none;
    font-size: 30px;
}
.link-rs > a[title=Facebook]{
    color: #1877F2;
}
.link-rs > a[title=Twitter]{
    color: #1DA1F2;
}
.link-rs > a[title=Linkedin]{
    color: #006599;
}



@media screen and (max-width: 750px) {
    .slider{
        display: none;
    }
    .home-entete-tablette{
        display: block;
        height: auto;
        width: 100%;
        background-color: #42382B;
        padding: 20px 0px;
        text-align: center;
    }
    .home-entete-tablette > span{
        font-size: 20px;
        display: block;
        color: white;
        padding: 10px 0;
    }
    .home-entete-tablette > .titre1{
        font-size: 30px;
    }
}