{% extends 'baseadmin.html.twig'%}

{% block body%}

<div class="container">
    <div>
        <h2>Proposition vidéos</h2>
        <div class="accueil-container">

            <div>
                <span>image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception</span>
                <a href="#" class="button1" >Voir la vidéo</a>
            </div>

            <div>
                <span>image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception</span>
                <a href="#" class="button1" >Voir la vidéo</a>
            </div>

            <div>
                <span>image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception</span>
                <a href="#" class="button1" >Voir la vidéo</a>
            </div>

            <div>
                <span>image : Vidéo 360° : visiter des lieux touristiques grâce à la technologie d'Inception</span>
                <a href="#" class="button1" >Voir la vidéo</a>
            </div>


        </div>
    </div>
</div>

{% endblock %}