{% extends 'baseadmin.html.twig'%}

{% block body%}

<div class="container">
    <div>
        <h2>Propositions de vidéos</h2>
        <div class="accueil-container">

        {% for videoUser in videosUser  %}
            <div>
                <span>{{videoUser.name}}</span>
                <a href="video/{{videoUser.id}}" class="button1" >Voir la vidéo</a>
            </div>
        {% endfor %}

        {% if videosUser|length < 1 %}
            <p>Aucune vidéo en attente de validation</p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}