{% extends 'baseadmin.html.twig'%}

{% block body%}

<div class="container">
    <div>
        <h2>Vous avez accepté cette vidéo</h2>
        <a class="button1" href="/admin">Retour à la liste des vidéos en attente</a>
    </div>
</div>

{% endblock %}