{% extends 'baseadmin.html.twig'%}

{% block body%}

<div class="container">
    <div>
        <h2>Vous avez accepté cette vidéo dans la liste des vidéos 360° de ce site</h2>
        <a class="button1" href="/admin">Retour à la liste des videos en attente</a>
    </div>
</div>

{% endblock %}