{% extends 'baseadmin.html.twig'%}

{% block body%}
<div class="container">
    <div class="video-container">

    <h2>{{ video.name }}</h2>
    <div class="video-div-iframe">
        <iframe src="https://www.youtube.com/embed/{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>{{ video.description }}</p>

    <div class="video-div-button">
        <button class="button1">Valider cette vidéo</button>
        <button class="button1">Effacer cette vidéo</button>
    </div>

    </div>
</div>

{% endblock %}